{% extends "base.html" %}
{% block content %}
  <h1>Uusi tehtävä</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
  <form method="post" action="{{base_path}}/task/new">
    <div class="form-group">
      <label>Tehtävä</label>
      <input name="kuvaus" class="form-control" value="{{attributes.kuvaus}}" type="text">
    </div>
    <div class="form-group">
      <label>Prioriteetti</label>
      <input name="prioriteetti" class="form-control" value="{{attributes.prioriteetti}}" type="text">
    </div>
    
    <div class="form-group">
      <label>Luokka</label>
       <select name="luokat[]" multiple="">
           {% for class in classes %}
                <option value="{{class.id}}">{{class.kuvaus}}</option>
           {% endfor %}
        </select> 
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
  
{% endblock %}
